div.Binary {
    margin: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 1em;
}

div.Binary img {
    max-width: 50vw;
}

div.Binary img[src=" "] {
    display: none;
}

div.Binary p.binary-id-display {
    margin-bottom: 0;
}