div.Grid .button {
    padding: 0;
}

div.Grid div.controls-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-top: 0.5em;
}

div.Grid div.controls-container > * {
    flex: 1;
    flex-basis: auto;
}

div.Grid div.change-grid-width-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.Grid div.change-grid-width-container label {
    margin-right: 0.5em;
    margin-left: 1em;
}

div.Grid table {
    margin: 0 auto;
}

div.Grid div.header-container {
    display: block;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
    margin: 1em;
}

div.Grid div.header-container div.controls-container {
    justify-content: center;
}

/* Button must be direct child to not affect the dropdown */
div.Grid div.header-container div.controls-container > button, div.label-filename-container > button {
    max-width: 30em;
    min-height: 3em;
}

div.Grid div.label-filename-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
    margin-top: 0.5em;
}

div.Grid div.label-filename-container > * {
    flex: 1;
    flex-basis: auto;
}