.GridImage {
    position: relative; 
}

img {
    max-width: 100%;
    max-height: 100%;
}

img.x-overlay {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    filter: opacity(0);
    z-index: 1;
}

div.rogue > * > img.x-overlay {
    filter: opacity(1);
}

p.image-name {
    word-break: break-all;
}