.GridImage {
    position: relative;
    padding: 0.5em;
}

.GridImage .image-and-overlay-container {
    position: relative;
}

img {
    max-width: 100%;
    max-height: 100%;
}

img.overlay {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    filter: opacity(0);
    z-index: 1;
}

p.image-name {
    word-break: break-all;
}

.hidden {
    display: none;
}

.GridImage .center-line-overlay {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: white;
    filter: opacity(0.75);
    transform: translateX(-50%);
}