fieldset.Legend {
    margin: 0 auto 1em auto;
    display: grid;
    gap: 1rem;
    max-height: 100%;
}

fieldset.Legend legend {
    text-align: left;
    padding: 0 1em;
}

fieldset.Legend p.no-overlay {
    align-self: center;
    justify-self: center;
}