.MultiClassGridImage {
    position: relative;
    padding: 0.5em;
}

.class-selector-holder {
    margin: auto;
}

.class-selector {
    display: inline-block;
    background-color: lightgray;
}

img {
    max-width: 100%;
    max-height: 100%;
}

img.overlay {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    filter: opacity(0);
    z-index: 1;
}

p.image-name {
    word-break: break-all;
}

p.class-type {
    color: black;
}

.hidden {
    display: none;
}