div.S3Browser div.grid {
    margin: 0 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.S3Browser div.grid > * {
    margin: 0 1em;
}

div.S3Browser div.grid.small > * {
    width: 
}

div.S3Browser div.grid.medium > * {
    width: 90px;
}

div.S3Browser div.grid.large > * {
    width: 
}