div.S3Browser {
    margin: 0 1em;
}

div.S3Browser div.clickable {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
}

div.S3Browser div.clickable:hover {
    background-color: rgba(0,200,255, 0.15);
    border: 1px solid rgba(0,200,255, 0.2);
}

div.S3Browser #s3-item-holder {
    margin-top: 1em;
}


/* --------- Header styling --------- */

div.S3Browser div.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1em;
}

div.S3Browser div.header div.fieldset-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.S3Browser div.header div.fieldset-container fieldset {
    text-align: left;
    width: 78px; /* Minimum size to prevent word wrap */
}

div.S3Browser div.header div.fieldset-container fieldset legend {
    text-align: left;
}

div.S3Browser div.header label, 
div.S3Browser div.header input, 
div.S3Browser div.header button {
    cursor: pointer;
}

div.S3Browser div.header button.button {
    flex-grow: 1;
    text-align: left;
}

div.S3Browser div.header button.select-button {
    grid-column: 1 / -1;
    margin: 0.25em 2px 0 2px;
    text-align: center;
}

div.S3Browser div.header button.nav-button {
    margin: 0.25em;
    padding: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: x-large;
    transition-timing-function: ease-in;
    transition-duration: 1s;
}

div.S3Browser div.header button.nav-button.disabled-button {
    transition-duration: 0s;
}

div.S3Browser div.header button.nav-button.not-disabled-button:hover {
    color: rgb(69, 179, 224);
}

div.S3Browser div.header button:disabled,
div.S3Browser div.header button[disabled] {
    cursor: default;
}

div.S3Browser div.header div.path-display {
    margin-top: 0.25em;
}

div.S3Browser div.header div.path-segment {
    display: inline-block;
}

div.S3Browser div.header div.path-segment p {
    display: inline;
    padding: 0;
    padding-left: 0.5em;
    padding-right: 0.25em;
}


/* --------- Grid styling --------- */

div.S3Browser div.grid {
    display: flex;
    gap: 1em 0.5em;
    justify-content: flex-start;
    flex-wrap: wrap;
}