div.S3DirectoryBinaryEditor header {
    margin: 1em;
    margin-bottom: 2em;
}

div.S3DirectoryBinaryEditor header.five {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    margin: 1em 24em 2em;
}