:root {
    --grid-icon-size: 8em;
    --list-icon-size: 2em;
}

div.S3Folder div.fieldset-container {
    display: grid;
    grid-template-columns: 133px 133px 2fr;
    gap: 1em;
    margin: 0 2em;
}

div.S3Folder div.fieldset-container button {
    margin-top: 0.6em;
}

div.S3Folder fieldset {
    display: inline-block;
    text-align: left;
    max-width: 129px;
}

div.S3Folder input[type="radio"] {
    cursor: pointer;
}

div.S3Folder label {
    cursor: pointer;
}

div.S3Folder div.clickable {
    cursor: pointer;
    margin: 0.1em 0;
    padding: 0.5em;
    padding-bottom: 0;
    height: max-content;
}

/* CSS for grid display */

div.S3Folder div.grid {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2.5em 2.7em;
}

div.S3Folder div.grid img {
    max-width: var(--grid-icon-size);
    max-height: var(--grid-icon-size);
}

div.S3Folder div.grid p {
    word-break: break-all;
}

/* CSS for list display */

div.S3Folder div.list {
    width: 90vw;
    margin: 0 auto;
    text-align: left;
}

div.S3Folder div.clickable:hover {
    background-color: rgba(0, 100, 255, 0.1);
}

div.S3Folder div.grid div.clickable {
    max-width: var(--grid-icon-size);
}

div.S3Folder div.list div.clickable {
    padding-top: 0.1em;
}

div.S3Folder div.list div.S3Folder, div.S3Folder div.list div.S3File {
    display: flex;
    align-items: center;
}

div.S3Folder div.list img, div.S3Folder div.list p {
    display: inline-block;
}

div.S3Folder div.list img {
    max-width: var(--list-icon-size);
    max-height: var(--list-icon-size);
}

div.S3Folder div.list p {
    position: relative;
    font-size: calc(var(--list-icon-size) / 2.5);
    margin: 0;
    margin-left: 16px;
}