# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Electron app builds
/react-frontend-win32-x64*
/dist

# data
/src/data/

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# Active config
config.json
public/config-dup.json

# User configs
/configs/*

# Active index.html
public/index.html

# misc
.DS_Store
**/.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
